.btn {
    cursor: pointer;
    border-radius: 24px;
    background: transparent;
    border: none;
    outline: transparent;
    font-family: 'Spartan',sans-serif;
    font-size: 12px;
    font-weight: $fw-bold;
    letter-spacing: -0.25px;
    line-height: 1;
    padding: 1em 1.75em;
}

.btn-primary {
    background: $purple;
    padding: 0.3em 1.1em 0.3em 0.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        color: white;
    }

    &:hover {
        background: #9277FF;
    }

    img {
        background: white;
        border-radius: 50%;
        padding: 10px;
        margin-right: 0.5em;
    }
}

.btn-secondary {
    background: $purple;
    color: white;
    &:hover {
        background: $purple-hover;
    }
}

.btn-tertiary {
    background: $red;
    color: white;
    &:hover {
        background: $red-hover;
    }
}

.btn-quarternary {
    background: $btn-quarternary-bg;
    color: $btn-quarternary-font;
    &:hover {
        background: $btn-quarternary-bg-hover;
    }
}

.status-btn {
    width: 104px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

    p {
        font-weight: $fw-bold;
    }

    div {
        width: 8px;
        height: 8px;
        margin-right: 8px;
        border-radius: 50%;
    }

    &-paid {
        background: #33d6a01c;

        p {
            color: #33D69F;
        }
        div {
            background: #33D69F;
        }
    }
    &-pending {
        background: #ff91001a;

        p {
            color: #FF8F00;
        }
        div {
            background: #FF8F00;
        }
    }
    &-draft {
        background: #373b531a;

        p {
            color: #373B53;
        }
        div {
            background: #373B53;
        }
    }
}

.btn-back {
    background: transparent;
    border: none;
    outline: transparent;
    a {
        font-family: 'Spartan', sans-serif;
        color: $text-color;
        font-weight: $fw-bold;
        font-size: 0.75rem;
        text-decoration: none;
    }
    svg {
        margin-right: 1.5rem;
    }
}