.btn {
    cursor: pointer;
    border-radius: 24px;
    background: transparent;
    border: none;
    outline: transparent;
    font-size: 0.75rem;
    font-weight: var(--fw-bold);
    letter-spacing: -0.25px;
    line-height: 1;
    padding: 1rem 1.5rem;
  }
  
  .btn-one {
    background: var(--clr-purple);
    padding: 0.3rem 1.1rem 0.3rem 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq(tablet) {
      padding: 0.5rem 0.9rem 0.5rem 0.5rem;
    }
  
    p {
      color: var(--clr-white);
    }
  
    &:hover {
      background: var(--clr-purple-hover);
    }
  
    img {
      background: var(--clr-white);
      border-radius: 50%;
      padding: 10px;
      margin-right: 0.5rem;
      @include mq(tablet) {
        margin-right: 1rem;
      }
    }
  }
  
  .btn-two {
    background: var(--clr-purple);
    color: white;
    &:hover {
      background: var(--clr-purple-hover);
    }
  }
  
  .btn-three {
    background: var(--clr-red);
    color: white;
    &:hover {
      background: var(--clr-red-hover);
    }
  }

  .btn-four {
    background: var(--btn-four-bg);
    color: var(--btn-four-txt);
    &:hover {
      background: var(--btn-four-bg-hover);
    }
  }

  .btn-five {
    background: var(--btn-five-bg);
    color: var(--btn-five-txt);
    &:hover {
      background: var(--btn-five-bg-hover);
    }
  }

  .btn-six {
    background: var(--btn-six-bg);
    color: var(--btn-six-txt);
    width: 100%;
    &:hover {
      background: var(--btn-six-bg-hover);
    }
  }
  
  .status-btn {
    width: 104px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
  
    p {
      font-weight: var(--fw-bold);
    }
  
    div {
      width: 8px;
      height: 8px;
      margin-right: 8px;
      border-radius: 50%;
    }
  
    &-paid {
      background: #33d6a01c;
  
      p {
        color: #33d69f;
      }
      div {
        background: #33d69f;
      }
    }
    &-pending {
      background: #ff91001a;
  
      p {
        color: #ff8f00;
      }
      div {
        background: #ff8f00;
      }
    }
    &-draft {
      background: var(--btn-status-draft-bg);
  
      p {
        color: var(--btn-status-draft-txt);
      }
      div {
        background: var(--btn-status-draft-txt);
      }
    }
  }
  
  .btn-back {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    background: transparent;
    border: none;
    outline: none;
    p {
      font-weight: var(--fw-bold);
      color: var(--clr-txt-bold);
      font-size: 0.75rem;
      &:hover {
        color: var(--btn-three-txt);
      }
    }
    img {
      margin-right: 1.5rem;
    }
  }