<<<<<<< HEAD
.invoice-details {
  padding-top: 2rem;
  padding-bottom: 9rem;
  @include mq(tablet) {
      padding-bottom: 2rem;
  }


  .edit-bar {
      @include mq(tablet) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 2rem 0 1.5rem 0;
          padding: 1.5rem 2rem;
          background: white;
          border-radius: 0.5rem;
          box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
      }
  }

  .status-bar {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    margin-bottom: 1rem;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
    @include mq(tablet) {
        padding: 0;
        margin: 0;
        border-radius: 0;
        background: none;
        width: 30%;
        box-shadow: none;
    }
  }

  .edit-bar-right {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    @include mq(tablet) {
        position: initial;
        background: none;
        padding: 0;
        width: auto;
        gap: 0.5rem;
=======
.invoice-page {
  padding: 2rem 0 9rem 0;
  @include mq(tablet) {
      padding: 2rem;
  }
}

.status-bar {
  margin-top: 2rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  background: var(--clr-box-bg-primary);
  @include mq(tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  &-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    p {
      color: var(--clr-txt-secondary);
      @include mq(tablet) {
          margin-right: 1rem;
      }
    }
    @include mq(tablet) {
        width: 50%;
        justify-content: flex-start;
    }
  }

  .control-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--clr-box-bg-primary);
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;    
    @include mq(tablet) {
        position: initial;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5rem;
        width: 50%;
>>>>>>> development
    }
  }
}

<<<<<<< HEAD
.invoice-grid {
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  @include mq(tablet) {
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(5, auto);
  }

  p {
    font-weight: $fw-med;
  }
  .strong-lg {
    color: $text-color;
    font-weight: $fw-bold;
    font-size: 0.9375rem;
  }

  .strong-sm {
    color: $text-color;
    font-weight: $fw-bold;
  }

  .address-para {
    p {
      font-size: 0.6875rem;
    }
  }
}

.invoice-id {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-bottom: 2rem;
  @include mq(tablet) {
      .id-number {
          font-size: 1rem;
          margin-bottom: 0.5em;
      }
  }
}
.sender-address {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-bottom: 2rem;
  p {
    line-height: 18px;
  }
  @include mq(tablet) {
      text-align: right;
      grid-column: 3 / 4;
      grid-row: 1 / 2;
  }
}
.created-date {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  margin-bottom: 2rem;
  .strong-lg {
    margin-top: 0.75rem;
  }
}
.due-date {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  margin-bottom: 2.25rem;
  .strong-lg {
    margin-top: 0.75rem;
  }
}
.client-address {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
  p {
    line-height: 18px;
  }
  .bill-to {
    margin-bottom: 0.75rem;
  }
  .client-name {
    margin-bottom: 0.5rem;
  }
}
.client-email {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  margin-bottom: 2.5rem;
  .sent-to {
    margin-bottom: 0.75rem;
  }
  @include mq(tablet) {
      grid-column: 3 / 4;
      grid-row: 3 / 5;
  }
}
.invoice-items {
  grid-column: 1 / 3;
  grid-row: 6 / 7;
  background: $btn-quarternary-bg;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  padding-top: 1.5rem;
  @include mq(tablet) {
      grid-column: 1 / 4;
  }

  .mobile-row {
      &-container {
=======
.invoice-details {
  padding: 1.5rem;
  box-shadow: var(--box-shadow);
  background: var(--clr-box-bg-primary);
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  p {
    color: var(--btn-three-txt);
  }
  .para-bold {
    color: var(--clr-txt-bold);
  }
  @include mq(tablet) {
    padding: 2rem;
  }

  &-id-desc {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-bottom: 2rem;

    p {
      margin-top: 0.25rem;
    }
  }

  &-sender-address {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-bottom: 2rem;
    @include mq(tablet) {
      text-align: right;
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
  }

  &-invoice-date {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-bottom: 2rem;

    .para-lg {
      margin-top: 0.75rem;
    }
  }

  &-payment-date {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin-bottom: 2.25rem;

    .para-lg {
      margin-top: 0.75rem;
    }
  }

  &-client-details {
    grid-column: 2 / 3;
    grid-row: 3 / 5;

    .para-lg {
      margin: 0.75rem 0;
    }
  }

  &-client-email {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    margin-bottom: 2.5rem;

    .para-lg {
      margin-top: 0.75rem;
    }

    @include mq(tablet) {
      grid-column: 3 / 4;
      grid-row: 3 / 5;
    }
  }

  &-items {
    background: var(--clr-box-bg-secondary);
    padding: 1.5rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    grid-column: 1 / 3;
    grid-row: 6 / 7;
    @include mq(tablet) {
      display: none;
    }

    .invoice-details-item {
>>>>>>> development
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;
<<<<<<< HEAD
      padding: 0 1.5rem;
    }
    @include mq(tablet) {
        display: none;
    }

      .item-name {
          font-weight: $fw-bold;
          color: $text-color;
          margin-bottom: 0.5rem;
      }
      .item-price {
          color: $btn-quarternary-font;
          font-weight: $fw-bold;
      }
      .item-total {
          color: $text-color;
          font-weight: $fw-bold;
      }
  }

  .desktop-row {
      display: none;
      @include mq(tablet) {
          display: block;
          table {
              padding: 0 2rem;
              width: 100%;
              th {
                  text-align: right;
                  padding: 1em 0;
                  font-size: 0.6875rem;
                  color: $btn-quarternary-font;
                  font-weight: $fw-med;
                  &:first-of-type {
                      text-align: left;
                  }
                  &:nth-of-type(2) {
                      text-align: center;
                  }
              }
              td {
                  text-align: right;
                  padding: 1rem 0;
                  font-size: 0.75rem;
                  &:first-of-type {
                      text-align: left;
                  }
                  &:nth-of-type(2) {
                      text-align: center;
                  }
              }
              .row-bold {
                  color: $text-color;
                  font-weight: $fw-bold;
              }
              .row-reg {
                  color: $btn-quarternary-font;
                  font-weight: $fw-bold;
              }
          }
      }
  }

  .invoice-footer {
    background: $total-box;
    padding: 2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    @include mq(tablet) {
        padding: 1.5rem 2rem;
    }
    .amount-due {
        color: white;
        font-size: 0.6875rem;
        font-weight: $fw-med;
    }
    .amount-total {
        color: white;
        font-size: 1.25rem;
        font-weight: $fw-bold;
        @include mq(tablet) {
            font-size: 1.5rem;
        }
    }
    
=======

      .para-bold {
        margin-bottom: 0.5rem;
      }

      .item-sum {
        font-weight: var(--fw-bold);
      }
    }
  }

  &-items-desktop {
    display: none;
    background: var(--clr-box-bg-secondary);
    padding: 2rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    table {
      width: 100%;

      th:first-of-type,
      td:first-of-type {
        text-align: left;
      }

      th,
      td {
        text-align: right;
        padding: 1rem 0;
      }

      th:nth-child(2),
      td:nth-child(2) {
        text-align: center;
      }

      td {
        p {
          font-weight: var(--fw-bold);
        }
      }
    }
    @include mq(tablet) {
      display: block;
      grid-column: 1 / 4;
      grid-row: 6 / 7;
    }
  }

  &-total {
    background: var(--clr-box-banner);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem;
    grid-column: 1 / 3;
    grid-row: 7 / 8;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    p {
      color: var(--clr-white);

      &:last-of-type {
        font-size: 1.25rem;
        font-weight: var(--fw-bold);
        @include mq(tablet) {
          font-size: 1.5rem;
        }
      }
    }
    @include mq(tablet) {
      grid-column: 1 / 4;
      grid-row: 7 / 8;
      padding: 2rem;
    }

    &-text::before {
      content: "Grand Total";
      @include mq(tablet) {
        content: "Amount Due";
      }
    }
>>>>>>> development
  }
}
