*,
*::before,
*::after {
    box-sizing: border-box;
}

body, html, .App {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Spartan', sans-serif;
    background: $background-light;
}

h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
}

.container {
    width: 87%;
    margin: 0 auto;
    max-width: 730px;
}


.error {
    border: 1px solid red;
}

label, option {
    display: block;
    margin-bottom: 5px;
}

input, select {
    margin-bottom: 10px;
}